* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.2s;
	font-family: 'Maven Pro', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
	background-color: #222;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	height: 100vh;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
}

.card {
	width: 100%;
	max-width: 400px;
	padding: 30px;
	margin: 10px;
	color: #eee;
	background-color: #444;
	border-radius: 10px;
	line-height: 22px;
	align-self: flex-start;
}

.see-more {
	display: none;
	background: none;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: #eee;
	margin-top: 5px;
	cursor: pointer;
}
